<!-- ketik "ul>li*5>a{Link $}" langsung muncul seperti dibawah -->
<ul>
    <li><a href="">Link 1</a></li>
    <li><a href="">Link 2</a></li>
    <li><a href="">Link 3</a></li>
    <li><a href="">Link 4</a></li>
    <li><a href="">Link 5</a></li>
</ul>
<?php $this->load->can('view'); 
$this->load->model('view');
?>
<label for="paswordcuy">Paswordcuy</label>
<input type="password" name="paswordcuy" id="paswordcuy" >
<label for="date">Date</label>
<input type="date" name="date" id="date">
<i class="fa fa-th-list" aria-hidden="true"></i>


